<ion-header>
  <ion-toolbar>
    <ion-title>
      Barcode Scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>

  <ion-list>
    <ion-list-header>Identify your allergies</ion-list-header>
    <ion-item>
      <ion-label>Allergies</ion-label>
      <ion-select multiple="true" cancelText="Nevermind" okText="That's it!">
        <ion-select-option value="dairy">Dairy</ion-select-option>
        <ion-select-option value="peanut">Peanuts</ion-select-option>
        <ion-select-option value="eggs">Eggs</ion-select-option>
        <ion-select-option value="gluten">Gluten</ion-select-option>
        <ion-select-option value="corn">Corn</ion-select-option>
        <ion-select-option value="sesame">Sesame Seeds</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


<div *ngIf="scannedData">
    <p>
      Scanned Code : <b>{{ scannedData["text"] }}</b>
    </p>
</div>
<ng-template #elseBlock>
  <h1>Please scan a code</h1>
</ng-template>

<!-- <div *ngIf="isSafe"> -->
  <p>
    Safety Rating : <b>{{ isSafe }}</b>
  </p>
<!-- </div> -->

  <!-- <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p> -->


<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="scanBarcode()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>
